*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  
  /* Add background image */
  background-image: url('/Users/arpityadav526/Desktop/Digital_PORTFOLIO/portfolio_front/public/images/hero/DAVID GOGGINS MOTIVATIONAL WALLPAPER.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background 0.5s ease, color 0.5s ease;
}
